arcgis==2.2.0.3
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
geomet==1.1.0
idna==3.6
lxml==5.1.0
markdown-it-py==3.0.0
mdurl==0.1.2
oauthlib==3.2.2
psycopg==3.1.18
pycparser==2.21
Pygments==2.17.2
python-dotenv==1.0.1
requests==2.31.0
requests-oauthlib==1.4.0
requests-toolbelt==1.0.0
rich==13.7.1
six==1.16.0
typing_extensions==4.10.0
tzdata==2024.1
ujson==5.9.0
urllib3==2.2.1
